@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import all custom CSS */
@import './dashboard.css';
@import './pages.css';
@import './jadwal.css';
@import './materi.css';
@import './tugas.css';
